@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Kenia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Istok+Web&family=Kenia&display=swap');

* {
    padding: 0;
    margin: 0;
}

html{
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    height: 100%;
    flex-direction: column;
    font-weight: 500;
    font-size: 35px;
    line-height: 43px;
    color: #000000;
    background: #ffffff;
}

.page_header{
    background-attachment: fixed;
    background-clip: border-box;
    background-image: url("images/nebo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 1024px;
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    align-items: flex-start;
    
    padding-top: 45px;
    padding-left: 10%;
    padding-right: 40%;
}

.navigation_list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

.navigation_title{
    color: #FFF;
    font-family: Istok Web;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;  
}

.container_page_header{
    color:#FFF;
    width: 99%;
    height: 86%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

.text_and_banner_list{
    list-style: none;
    display: flex;
    flex-direction:column;
    gap: 100px;
}

.big_banner{
    color: #FFF;
    font-family: Kenia;
    font-size: 150px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
   
    width: 412px;
    height: 264px;
    flex-shrink: 0;
    line-height: 150px;
}

.company_formed{
    width: 290px;
    height: 63px;
    flex-shrink: 0;

    color: #FFF;
    font-family: Istok Web;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.full_phone{
    display: flex;
    flex-direction: column;

    position: relative;
}

.cable_picture{  
  
    position: absolute;
    top: 85%;
    left: 8.5%;
}

.phone_picture{
    z-index: 9;   
}



