@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Kenia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Istok+Web&family=Kenia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Istok+Web&family=Karla&family=Kenia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Istok+Web&family=Karla&family=Kenia&family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
}

html{
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    height: 100%;
    flex-direction: column;
    font-weight: 500;
    font-size: 35px;
    line-height: 43px;
    color: #000000;
    background: #ffffff;
}

.page_header{
    background-attachment: fixed;
    background-clip: border-box;
    background-image: url("images/nebo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 1024px;
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    align-items: flex-start;
    
    padding-top: 45px;
    padding-left: 10%;
    padding-right: 40%;
}

.navigation_list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

.navigation_title{
    color: #FFF;
    font-family: Istok Web;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;  
}

.container_page_header{
    color:#FFF;
    width: 99%;
    height: 86%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

.text_and_banner_list{
    list-style: none;
    display: flex;
    flex-direction:column;
    gap: 175px;
}

.big_banner{
    color: #FFF;
    font-family: Kenia;
    font-size: 150px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
   
    width: 412px;
    height: 264px;
    flex-shrink: 0;
    line-height: 150px;
}

.company_formed{
    width: 290px;
    height: 63px;
    flex-shrink: 0;

    color: #FFF;
    font-family: Istok Web;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.full_phone{
    display: flex;
    flex-direction: column;

    position: relative;
}

.cable_picture{  
  
    position: absolute;
    top: 81.9%;
    left: 8.5%;
}

.phone_picture{
    z-index: 9;   
}

.page_main_1{
    width: 100%;
    height: 1024px;
    background: #D53005;
}

.music_ref_container{
    width: fit-content;
    height: fit-content;    
    padding-left: 7%;
    padding-top: 5%;

}

.music_ref{
    color: #FFF;
    font-family: Karla;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    
}

.main_1_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-top: 2%;
}

.listen_find_list{
    display: flex;
    flex-direction: column;
    gap: 88px;

    padding-left: 122px;
    list-style: none;

}

.listen_find_element{
    width: 382px;
    height: 83px;
    flex-shrink: 0;


    border: 1px solid rgba(0, 0, 0, 0.50);
    background: radial-gradient(2086.98% 134.85% at 1.57% 7.83%, #B13E18 0%, #F3501A 100%);
    box-shadow: -4px -4px 30px 0px rgba(255, 255, 255, 0.10), 4px 4px 4px 0px rgba(0, 0, 0, 0.50);
}

.listen_find_text{
    color: #FFF;
    font-family: Karla;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 19px 70px;
}

.vinil_picture{
   padding-left: 400px;
}

.page_main_2{
    width: 100%;
    height: 1024px;
    background: linear-gradient(180deg, #D53005 0%, #000 6.04%);
}

.about_container{
    padding-top: 5%;
    padding-left: 7%;
    width: fit-content;
    height: fit-content;
}

.about{
    color: #FFF;
    font-family: Karla;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.about_text_container{
    width: 100%;
    height: 885px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.about_text{
    color: #FFF;
    font-family: Karla;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;

    padding-bottom: 8%;
}

.page_main_3{
    width: 100%;
    height: 1024px;
    background: #D53005;
}

.store_container{
    width: fit-content;
    height: fit-content;
    padding-top: 5%;
    padding-left: 5%;
}

.store_ref{
    color: #FFF;
    font-family: Karla;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.container_main_3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.buttons_and_text_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 20px;
    padding-left: 5%;
}

.download_button_win{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 240px;
    height: 60px;
    flex-shrink: 0;

    border-radius: 30px;
    background: rgba(2, 2, 2, 0.90);
    box-shadow: -4px -4px 4px 0px rgba(255, 255, 255, 0.10), 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
}

.win_button_text{
    width: 200px;
    height: 50px;
    flex-shrink: 0;

    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.download_button_mac{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 240px;
    height: 60px;
    flex-shrink: 0;

    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.70);
    background: #E3E3E3;
    box-shadow: -4px -4px 4px 0px rgba(255, 255, 255, 0.10), 4px 4px 4px 0px rgba(0, 0, 0, 0.25);

    margin-bottom: 100px;
}

.mac_button_text{
    width: 200px;
    height: 50px;
    flex-shrink: 0;

    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.previous_version_text{
    width: 419px;
    height: 28px;
    flex-shrink: 0;

    color: #FFF;
    font-family: Montserrat;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    text-align: center;
}

.advice_to_download_text{
    width: 431px;

    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    text-align: center;
}

.choose_prev_ver_span{
    color: rgba(4, 4, 4, 0.80);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.notebook_container{
    padding-top: 3%;
}


.page_footer{
    width: 100%;
    height: 536px;
  
    background: linear-gradient(180deg, #D53005 0%, #000 4.01%);
}

.footer_top_container{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: first baseline;
    gap: 10%;

    padding-top: 4%;
    padding-right: 5%;
}

.top_container_lists{
    list-style: none;
    line-height: 1.4;
}

.top_container_lists_refs{
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.tcl_first_ref{
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.page_footer_small_logo{
    padding-left: 5.4%;
    padding-top: 5%
}

.page_footer_bottom_list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    gap: 5%;
}

.bottom_list_refs{
    margin: 0;
    color: #FFF;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.page_footer_bottom_list_li{
    display: flex;
}